<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<div id="game-container" class="lock-screen">
    <%- require('@clientframework/common/htmlOverlays/html/infoPage.ejs')() %>
    <%- require('@clientframework/common/htmlOverlays/html/rulesPage.ejs')() %>
    <%- require('@clientframework/common/htmlOverlays/html/errorPopupForm.ejs')() %>
</div>
</body>
</html>
