<form id="errorPopupForm"></form>

<h1 id="quitText" languageSensitive="en" style = "display: none; position: absolute; top: 50vh; left: 35vw; font-size:5vw; color:white">Game Closed</h1>
<h1 id="quitText" languageSensitive="de" style = "display: none; position: absolute; top: 50vh; left: 35vw; font-size:5vw; color:white">Spiel Geschlossen</h1>
<h1 id="quitText" languageSensitive="fr" style = "display: none; position: absolute; top: 50vh; left: 35vw; font-size:5vw; color:white">Jeu Fermé</h1>
<h1 id="quitText" languageSensitive="it" style = "display: none; position: absolute; top: 50vh; left: 35vw; font-size:5vw; color:white">Gioco Chiuso</h1>
