<!DOCTYPE html>

<html>

<head>
<title>Info Page</title>
      <!--link rel="stylesheet" type="text/css" href="../css/main.css">
      <link rel="stylesheet" type="text/css" href="../css/infoPageSymbols.css"-->
</head>

<body>

        <div style="font-family:fortunaForJack; position:absolute; left:-1000px; visibility:hidden;">.</div>

        <div style="font-family:myriadForJack; position:absolute; left:-1000px; visibility:hidden;">.</div>

<div class="infoPage-container" id="infoPage">

  <a style="display: none" id=infoPageButton onclick="$('#infoPage').show(); $('#infoPagePopup').addClass('active'); $('#infoPagePopup-inner').addClass('active')">?</a>

  <div class="infoPagePopup" id="infoPagePopup">
        <div class="infoPagePopup-inner" id="infoPagePopup-inner">
                <div id="externalInfo" class="scrolable">
                        <section class="content" id="paytable">
                                <div class="sectionContent">
                                <h1 class="h1_infoPage" languageSensitive="en">Symbols</h1>
                                <h1 class="h1_infoPage" languageSensitive="bg">Символи</h1>
                                <h1 class="h1_infoPage" languageSensitive="cs">Symboly</h1>
                                <h1 class="h1_infoPage" languageSensitive="hu">Szimbólumok</h1>
                                <h1 class="h1_infoPage" languageSensitive="es">Símbolos</h1>
                                <h1 class="h1_infoPage" languageSensitive="pt">Símbolos</h1>
                                <h1 class="h1_infoPage" languageSensitive="es-cl">Símbolos</h1>
                                <h1 class="h1_infoPage" languageSensitive="th">สัญลักษณ์</h1>
                                <h1 class="h1_infoPage" languageSensitive="ru">Символы</h1>
                                <h1 class="h1_infoPage" languageSensitive="de">Symbole</h1>
                                <h1 class="h1_infoPage" languageSensitive="zhHans">符号</h1>
                                <h1 class="h1_infoPage" languageSensitive="zhHant">圖案</h1>
                                

                                <h1 class="h1_infoPage" languageSensitive="el">Σύμβολα</h1>
                                <h1 class="h1_infoPage" languageSensitive="fi">Symbolit</h1>
                                <h1 class="h1_infoPage" languageSensitive="pl">Symbole</h1>
                                <h1 class="h1_infoPage" languageSensitive="ro">Simboluri</h1>
                                <h1 class="h1_infoPage" languageSensitive="sv">Symboler</h1>
                                <h1 class="h1_infoPage" languageSensitive="vi">Biểu tượng</h1>
                                <h1 class="h1_infoPage" languageSensitive="it">Simboli</h1>
                                <h1 class="h1_infoPage" languageSensitive="tr">Semboller</h1>
                                <h1 class="h1_infoPage" languageSensitive="no">Symboler</h1>
                                <h1 class="h1_infoPage" languageSensitive="ja">シンボル</h1>
                                <h1 class="h1_infoPage" languageSensitive="fr">Symboles</h1>
                                <h1 class="h1_infoPage" languageSensitive="da">Symboler</h1>
                                <h1 class="h1_infoPage" languageSensitive="sk">Symboly</h1>


                                     <ul class="symbols highSymbols">

                                        <li class="symbol">

                                                <div><i class="sym_0"></i></div>

                                                    <ul class="prizes">
                                                            <li><span class="reward">5 = </span> <span class="coins">20</span></li>
                                                            <li><span class="reward">4 = </span> <span class="coins">8</span></li>
                                                            <li><span class="reward">3 = </span> <span class="coins">5</span></li>
                                                    </ul>
                                                </li>
                                        <li class="symbol">

                                                <div><i class="sym_1"></i></div>

                                                        <ul class="prizes">
                                                                <li><span class="reward">5 = </span> <span class="coins">20</span></li>
                                                                <li><span class="reward">4 = </span> <span class="coins">8</span></li>
                                                                <li><span class="reward">3 = </span> <span class="coins">5</span></li>
                                                        </ul>
                                                </li>

                                        <li class="symbol">

                                                <div><i class="sym_2"></i></div>

                                                    <ul class="prizes">
                                                            <li><span class="reward">5 = </span> <span class="coins">40</span></li>
                                                            <li><span class="reward">4 = </span> <span class="coins">15</span></li>
                                                            <li><span class="reward">3 = </span> <span class="coins">5</span></li>
                                                    </ul>
                                                </li>

                                        <li class="symbol">

                                                <div><i class="sym_3"></i></div>

                                                        <ul class="prizes">
                                                                <li><span class="reward">5 = </span> <span class="coins">65</span></li>
                                                                <li><span class="reward">4 = </span> <span class="coins">20</span></li>
                                                                <li><span class="reward">3 = </span> <span class="coins">10</span></li>
                                                        </ul>
                                                </li>

                                        <li class="symbol">

                                                <div><i class="sym_4"></i></div>

                                                <ul class="prizes">
                                                        <li><span class="reward">5 = </span> <span class="coins">150</span></li>
                                                        <li><span class="reward">4 = </span> <span class="coins">75</span></li>
                                                        <li><span class="reward">3 = </span> <span class="coins">20</span></li>
                                                </ul>
                                                </li>

                                        <li class="symbol">

                                                <div><i class="sym_5"></i></div>

                                                <ul class="prizes">
                                                        <li><span class="reward">5 = </span> <span class="coins">400</span></li>
                                                        <li><span class="reward">4 = </span> <span class="coins">125</span></li>
                                                        <li><span class="reward">3 = </span> <span class="coins">25</span></li>
                                                </ul>
                                                </li>

                                        <li class="symbol">

                                                <div><i class="sym_6"></i></div>

                                                <ul class="prizes">
                                                        <li><span class="reward">5 = </span> <span class="coins">750</span></li>
                                                        <li><span class="reward">4 = </span> <span class="coins">325</span></li>
                                                        <li><span class="reward">3 = </span> <span class="coins">50</span></li>
                                                </ul>
                                                </li>

                                        <li class="symbol">

                                                 <div><i class="sym_10"></i></div>

                                                <ul class="prizes">
                                                         <li><span class="reward">5 = </span> <span class="coins">65</span></li>
                                                        <li><span class="reward">4 = </span> <span class="coins">20</span></li>
                                                         <li><span class="reward">3 = </span> <span class="coins">10</span></li>
                                                 </ul>
                                                 </li>

                                        <hr><br><br><br>


                                </ul>

                               </section><br>

                        <section class="content" id="wild">
                                <div class="sectionContent">
                                        <h1 class="h1_infoPage" languageSensitive="en">Golden Dragon symbol</h1>
                                        <h1 class="h1_infoPage" languageSensitive="bg">GoldenDragon (GoldenDragon)</h1>
                                        <h1 class="h1_infoPage" languageSensitive="cs">GoldenDragon SCATTER</h1>
                                        <h1 class="h1_infoPage" languageSensitive="hu">“GoldenLion” scatter</h1>
                                        <h1 class="h1_infoPage" languageSensitive="es">GoldenDragon</h1>
                                        <h1 class="h1_infoPage" languageSensitive="pt">O GoldenDragon Scatter</h1>
                                        <h1 class="h1_infoPage" languageSensitive="es-cl">GoldenDragon Scatter</h1>
                                        <h1 class="h1_infoPage" languageSensitive="th">สัญลักษณ์ GoldenDragon Scatter</h1>
                                        <h1 class="h1_infoPage" languageSensitive="ru">GoldenDragon Скаттер</h1>
                                        <h1 class="h1_infoPage" languageSensitive="de">Golden Dragon Scatter</h1>
                                        <h1 class="h1_infoPage" languageSensitive="zhHans">杰克分散符号</h1>
                                        <h1 class="h1_infoPage" languageSensitive="zhHant">寶箱圖案</h1>
                                        <h1 class="h1_infoPage" languageSensitive="sk">Symbol Golden Dragon</h1>

                                        <h1 class="h1_infoPage" languageSensitive="el">Το σύμβολο GoldenDragon Scatter</h1>
                                        <h1 class="h1_infoPage" languageSensitive="fi">GoldenDragon Scatter -symboli</h1>
                                        <h1 class="h1_infoPage" languageSensitive="pl">Symbol GoldenDragon Scatter</h1>
                                        <h1 class="h1_infoPage" languageSensitive="ro">Simbolul GoldenDragon Scatter</h1>
                                        <h1 class="h1_infoPage" languageSensitive="sv">Golden Dragon Scatter symbol</h1>
                                        <h1 class="h1_infoPage" languageSensitive="vi">Biểu tượng GoldenDragon Scatter</h1>
                                        <h1 class="h1_infoPage" languageSensitive="it">Simbolo Golden Dragon Scatter</h1>
                                        <h1 class="h1_infoPage" languageSensitive="tr">GoldenDragon Scatter sembolü</h1>
                                        <h1 class="h1_infoPage" languageSensitive="no">GoldenDragon Scatter symbol</h1>
                                        <h1 class="h1_infoPage" languageSensitive="ja">ジャック・スキャッターシンボル (GoldenDragon Scatter)</h1>
                                        <h1 class="h1_infoPage" languageSensitive="fr">Symboles de dispersion Golden Dragon (Golden Dragon Scatter)</h1>

                                        <div style="text-align:center;"><i class="sym_9"></i></div>


                                        <h2 class="h2_infoPage" languageSensitive="en">3 or more Golden Dragon symbols will award a prize.<br>The amount of Golden Dragon symbols that fall on the reels determines the amount of that prize.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="bg">3 или повече символа GoldenDragon дават награда.<br>Количеството символи GoldenDragon, които попадат на барабаните, определят размера на тази награда.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="cs">3 a více symbolů GoldenDragon SCATTER jsou ohodnoceny výhrou.<br>Množství symbolů GoldenDragon SCATTER které padnou na kotoučích rozhoduje o výši výhry.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="hu">A nyeremény eléréséhez 3 vagy annál több “GoldenLion” szimbólumot kell kipörgetni.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="es">3 o más símbolos otorgan un premio.<br>La cantidad de símbolos GoldenDragon De Dispersión determinarán el monto del premio ganado.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="pt">3 ou mais símbolos de GoldenDragon (ou Valete) irão atribuir prémio.<br>A quantidade de símbolos GoldenDragon que aparecerem nas bobinas determinam o valor deste prémio.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="es-cl">3 o más símbolos de GoldenDragon conllevan un premio.<br>El monto de dicho premio está determinado por la cantidad de símbolos de GoldenDragon que caen en los carriles.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="th">ชนะรางวัลเมื่อหมุนได้ แจ็คสแกตเตอร์ 3 ตัวขึ้นไป<br>จำนวนของสัญลักษณ์ GoldenDragon บนวงล้อจะเป็นตัวกำหนดมูลค่าของรางวัล<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="ru">3 либо более GoldenDragon приносят приз. <br>Сумма приза зависит от количества GoldenDragon, которые выпали на барабанах.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="de">3 oder mehr Golden Dragon-Symbole vergeben einen Preis. <br>Die Anzahl der Golden Dragon-Symbole, die auf die Walzen fallen, bestimmt die Höhe dieses Preises.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="zhHans">当出现不少于三个杰克分散符号时，您将获得奖品。<br>卷轴上的杰克分散符号的数量决定奖品的金额。<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="zhHant">三個或以上的寶箱圖案可以贏得獎勵。<br>獎勵的大小取決於寶箱在滾軸上的數量。<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="sk">Tri a viac symbolov Golden Dragon Scatter znamenajú výhru<br>ktorej výška sa mení v závislosti od počtu týchto symbolov<br><br></h2>

                                        <h2 class="h2_infoPage" languageSensitive="el">3 ή περισσότερα σύμβολα GoldenDragon επιβραβεύουν.<br>Η ποσότητα των συμβόλων GoldenDragon που πέφτουν στους τροχούς καθορίζει το ποσό του βραβείου.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="fi">Kolme tai useampi GoldenDragon-symboli palkitaan palkinnolla.<br>GoldenDragon-symbolien lukumäärä määrittää palkinnon suuruuden.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="pl">Trzy takie (lub więcej) symbole GoldenDragon Scatter i otrzymasz nagrodę.<br>Im więcej takich symboli pojawi się na bębnach, tym wyższa będzie ta nagroda.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="ro">3 sau mai multe simboluri GoldenDragon vor declanșa un câștig.<br>Numărul simbolurilor GoldenDragon care apar pe role determină cuantumul acelui câștig.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="sv">3 eller mer av Golden Dragon symbolerna kommer att tilldela ett pris.<br>Mängden av Golden Dragon symbolerna är det som utgör vilken vinstsumma det blir.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="vi">Xuất hiện ít nhất 3 biểu tượng GoldenDragon sẽ trúng thưởng.<br>Số lượng biểu tượng GoldenDragon xuất hiện trên máy quyết định độ lớn của giải thưởng trúng được.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="it">3 o più simboli Golden Dragon assegneranno un premio.<br>La quantità di simboli Golden Dragon che ricadono sui rulli determina la quantità di quel premio.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="tr">3 veya daha fazla GoldenDragon sembolü ödül verir.<br>Ödülün miktarı makaralara düşen GoldenDragon sembollerinin sayısına bağlıdır.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="no">3 eller flere GoldenDragon symboler vil gi gevinst.<br>Antall GoldenDragon symboler er avgjørende for størrelsen på gevinsten.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="ja">3つ以上のジャックシンボルで勝利を得ます.<br>リールに上のジャックシンボルの数によって、賞金の額が決まります.<br><br></h2>
                                        <h2 class="h2_infoPage" languageSensitive="fr">3 symboles Golden Dragon ou plus donnent droit à un prix, dont le montant est déterminé par le nombre de Golden Dragon tombés sur les rouleaux.<br><br></h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="en">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Bet&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Bet&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x Bet&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x Bet&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x Bet&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x Bet&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="bg">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Залог&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Залог&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 5 &emsp;&emsp; = &emsp;&emsp; 15 x Залог&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 6 &emsp;&emsp; = &emsp;&emsp; 70 x Залог&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&ensp; 7 &emsp;&emsp; = &emsp;&emsp; 400 x Залог&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&nbsp;&nbsp;&ensp; 8 &emsp;&emsp; = &emsp;&emsp; 2000 x Залог&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="cs">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Sázka&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Sázka&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 5 &emsp;&emsp; = &emsp;&emsp; 15 x Sázka&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 6 &emsp;&emsp; = &emsp;&emsp; 70 x Sázka&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&ensp; 7 &emsp;&emsp; = &emsp;&emsp; 400 x Sázka&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&nbsp;&nbsp;&ensp; 8 &emsp;&emsp; = &emsp;&emsp; 2000 x Sázka&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="hu">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Tét&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Tét&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 5 &emsp;&emsp; = &emsp;&emsp; 15 x Tét&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 6 &emsp;&emsp; = &emsp;&emsp; 70 x Tét&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&ensp; 7 &emsp;&emsp; = &emsp;&emsp; 400 x Tét&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&nbsp;&nbsp;&ensp; 8 &emsp;&emsp; = &emsp;&emsp; 2000 x Tét&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="es">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Apuestas&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Apuestas&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 5 &emsp;&emsp; = &emsp;&emsp; 15 x Apuestas&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 6 &emsp;&emsp; = &emsp;&emsp; 70 x Apuestas&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&ensp; 7 &emsp;&emsp; = &emsp;&emsp; 400 x Apuestas&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&nbsp;&nbsp;&ensp; 8 &emsp;&emsp; = &emsp;&emsp; 2000 x Apuestas&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="pt">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Aposta&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Aposta&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 5 &emsp;&emsp; = &emsp;&emsp; 15 x Aposta&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 6 &emsp;&emsp; = &emsp;&emsp; 70 x Aposta&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&ensp; 7 &emsp;&emsp; = &emsp;&emsp; 400 x Aposta&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&nbsp;&nbsp;&ensp; 8 &emsp;&emsp; = &emsp;&emsp; 2000 x Aposta&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="es-cl">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Apuesta&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Apuesta&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 5 &emsp;&emsp; = &emsp;&emsp; 15 x Apuesta&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 6 &emsp;&emsp; = &emsp;&emsp; 70 x Apuesta&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&ensp; 7 &emsp;&emsp; = &emsp;&emsp; 400 x Apuesta&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&nbsp;&nbsp;&ensp; 8 &emsp;&emsp; = &emsp;&emsp; 2000 x Apuesta&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="th">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x เดิมพัน&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x เดิมพัน&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 5 &emsp;&emsp; = &emsp;&emsp; 15 x เดิมพัน&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 6 &emsp;&emsp; = &emsp;&emsp; 70 x เดิมพัน&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&ensp; 7 &emsp;&emsp; = &emsp;&emsp; 400 x เดิมพัน&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&nbsp;&nbsp;&ensp; 8 &emsp;&emsp; = &emsp;&emsp; 2000 x เดิมพัน&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="ru">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Ставка&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Ставка&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 5 &emsp;&emsp; = &emsp;&emsp; 15 x Ставка&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 6 &emsp;&emsp; = &emsp;&emsp; 70 x Ставка&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&ensp; 7 &emsp;&emsp; = &emsp;&emsp; 400 x Ставка&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&nbsp;&nbsp;&ensp; 8 &emsp;&emsp; = &emsp;&emsp; 2000 x Ставка&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="de">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Einsatz&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Einsatz&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 5 &emsp;&emsp; = &emsp;&emsp; 15 x Einsatz&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp; 6 &emsp;&emsp; = &emsp;&emsp; 70 x Einsatz&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&ensp; 7 &emsp;&emsp; = &emsp;&emsp; 400 x Einsatz&emsp;&emsp;&emsp;&emsp;</li>
                                                <li> &nbsp;&nbsp;&nbsp;&ensp; 8 &emsp;&emsp; = &emsp;&emsp; 2000 x Einsatz&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="zhHans">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x 下注&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x 下注&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x 下注&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x 下注&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x 下注&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x 下注&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>

                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="zhHant">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x 投注&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x 投注&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x 投注&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x 投注&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x 投注&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x 投注&emsp;&emsp;&emsp;&emsp;</li><br>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="el">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Ποντάρισμα&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Ποντάρισμα&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x Ποντάρισμα&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x Ποντάρισμα&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x Ποντάρισμα&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x Ποντάρισμα&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="fi">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Panos&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Panos&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x Panos&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x Panos&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x Panos&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x Panos&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="pl">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Zakład&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Zakład&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x Zakład&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x Zakład&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x Zakład&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x Zakład&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="ro">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Pariu&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Pariu&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x Pariu&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x Pariu&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x Pariu&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x Pariu&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="sv">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Insats&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Insats&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x Insats&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x Insats&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x Insats&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x Insats&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="vi">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Đật cược&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Đật cược&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x Đật cược&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x Đật cược&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x Đật cược&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x Đật cược&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="it">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Scommessa&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Scommessa&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x Scommessa&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x Scommessa&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x Scommessa&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x Scommessa&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="tr">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Bahis&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Bahis&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x Bahis&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x Bahis&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x Bahis&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x Bahis&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="no">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Innsats&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Innsats&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x Innsats&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x Innsats&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x Innsats&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x Innsats&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="ja">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x ベット&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x ベット&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x ベット&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x ベット&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x ベット&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x ベット&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="fr">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x Miser&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x Miser&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x Miser&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x Miser&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x Miser&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x Miser&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                        <h2 class="h2_infoPage" style="list-style: none; text-align: left; transform: translate(40%)" languageSensitive="sk">
                                                <li>3 &emsp;&emsp; = &emsp;&emsp; 1 x stávka&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>4 &emsp;&emsp; = &emsp;&emsp; 5 x stávka&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>5 &emsp;&emsp; = &emsp;&emsp; 15 x stávka&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>6 &emsp;&emsp; = &emsp;&emsp; 70 x stávka&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>7 &emsp;&emsp; = &emsp;&emsp; 400 x stávka&emsp;&emsp;&emsp;&emsp;</li>
                                                <li>8 &emsp;&emsp; = &emsp;&emsp; 2000 x stávka&emsp;&emsp;&emsp;&emsp;</li><br>
                                        </h2>
                                </div>
                                <br><br><hr><br>
                        </section><br><br>

                        <section class="content" id="wild">
                                <div class="sectionContent">
                                        <h1 class="h1_infoPage" languageSensitive="en">FREE SPINS</h1>
                                        <h1 class="h1_infoPage" languageSensitive="bg">БЕЗПЛАТНИ ЗАВЪРТАНИЯ (FREE SPINS)</h1>
                                        <h1 class="h1_infoPage" languageSensitive="cs">ZATOČENÍ ZDARMA</h1>
                                        <h1 class="h1_infoPage" languageSensitive="hu">ingyenes pörgetés</h1>
                                        <h1 class="h1_infoPage" languageSensitive="es">GIROS GRATIS</h1>
                                        <h1 class="h1_infoPage" languageSensitive="pt">Jogadas Grátis</h1>
                                        <h1 class="h1_infoPage" languageSensitive="es-cl">GIROS GRATIS</h1>
                                        <h1 class="h1_infoPage" languageSensitive="th">FREE SPINS</h1>
                                        <h1 class="h1_infoPage" languageSensitive="ru">БЕСПЛАТНЫЕ ВРАЩЕНИЯ</h1>
                                        <h1 class="h1_infoPage" languageSensitive="de">FREISPIELE</h1>
                                        <h1 class="h1_infoPage" languageSensitive="zhHans">免费旋转</h1>
                                        <h1 class="h1_infoPage" languageSensitive="zhHant">免費滾動</h1>

                                        <h1 class="h1_infoPage" languageSensitive="el">FREE SPINS </h1>
                                        <h1 class="h1_infoPage" languageSensitive="fi">ILMAISKIERROKSET</h1>
                                        <h1 class="h1_infoPage" languageSensitive="pl">Darmowe Spiny</h1>
                                        <h1 class="h1_infoPage" languageSensitive="ro">ROTIRI GRATUITE</h1>
                                        <h1 class="h1_infoPage" languageSensitive="sv">Gratis snurr </h1>
                                        <h1 class="h1_infoPage" languageSensitive="vi">Quay miễn phí</h1>
                                        <h1 class="h1_infoPage" languageSensitive="it">GIRI GRATIS</h1>
                                        <h1 class="h1_infoPage" languageSensitive="tr">BEDAVA ÇEVİRİler</h1>
                                        <h1 class="h1_infoPage" languageSensitive="no">GRATIS SPINN</h1>
                                        <h1 class="h1_infoPage" languageSensitive="ja">フリースピン・ (FREE SPINS)</h1>
                                        <h1 class="h1_infoPage" languageSensitive="fr">TOUR GRATUITS                        </h1>
                                        <h1 class="h1_infoPage" languageSensitive="sk">TOČ ZDARMA</h1>


                                        <div style="text-align:center;"><i class="sym_8"></i></div>

                                        <h2 class="h2_infoPage" languageSensitive="en">
                                                3xFREE SPINS symbols award FREE SPINS.<br><br>
                                                3,4,5 = 1 x BET.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="bg">
                                                3 x символа БЕЗПЛАТНИ ЗАВЪРТАНИЯ присъждат БЕЗПЛАТНИ ЗАВЪРТАНИЯ.<br><br>
                                                3,4,5 = 1 x Залог.<br><br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="el">
                                                Τα σύμβολα 3xFREE SPINS χαρίζουν FREE SPINS (δωρεάν περιστροφές)<br><br>
                                                3,4,5 = 1 x Ποντάρισμα.<br><br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="fi">
                                                Kolmella ILMAISKIERROSSYMBOLILLA voittaa ILMAISKIERROKSIA.<br><br>
                                                3,4,5 = 1 x Panos.<br><br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="pl">
                                                3 takie symbole DARMOWYCH SPINÓW i otrzymasz nagrodę w postaci DARMOWYCH SPINÓW.<br><br>
                                                3,4,5 = 1 x Zakład.<br><br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="ro">
                                                3x simboluri FREE SPINS te răsplătesc cu ROTIRI GRATUITE.<br><br>
                                                3,4,5 = 1 x Pariu.<br><br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="sv">
                                                3xGRATISSNURR symboler ger utdelning på GRATISSNURR.<br><br>
                                                3,4,5 = 1 x Insats.<br><br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="vi">
                                                3 biểu tượng FREE SPINS sẽ trúng thêm lượt quay miễn phí.<br><br>
                                                3,4,5 = 1 x Đật cược.<br><br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="it">
                                                3xGIRI GRATIS assegnano GIRI GRATUITI.<br><br>
                                                3,4,5 = 1 x Scommessa.<br><br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="tr">
                                                3xBEDAVA ÇEVİRİ sembolleri BEDAVA ÇEVİRİ ödüllendirir.<br><br>
                                                3,4,5 = 1 x Bahis.<br><br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="no">
                                                3xGRATIS SPINN gir deg GRATIS SPINN.<br><br>
                                                3,4,5 = 1 x Innsats.<br><br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="ja">
                                                3xフリースピン・シンボルは無料スピンを獲得します.<br><br>
                                                3,4,5 = 1 x ベット.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="cs">
                                                3x ZATOČENÍ ZDARMA zaručuje výhru ve formě ZATOČENÍ ZDARMA<br><br>
                                                3,4,5 = 1 x Sázka.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="hu">
                                                Három “FREE SPINS” szimbólum kipörgetése ingyenes pörgetéseket ad a játékos számára.<br><br>
                                                3,4,5 = 1 x Tét.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="es">
                                                3 símbolos de GIROS GRATIS otorgan múltiples giros.<br><br>
                                                3,4,5 = 1 x Apuestas.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="pt">
                                                Com 3 símbolos FREE SPINS ganha jogadas grátis.<br><br>
                                                3,4,5 = 1 x Aposta.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="es-cl">
                                                Si aparece el símbolo tres veces, se recompensará con GIROS GRATIS.<br><br>
                                                3,4,5 = 1 x Apuesta.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="th">
                                                ชนะรางวัล FREE SPINS เมื่อหมุนได้สัญลักษณ์ FREE SPINS x3 ตัว<br><br>
                                                3,4,5 = 1 x เดิมพัน.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="ru">
                                                Символ 3xБЕСПЛАТНЫХ ВРАЩЕНИЯ приносит БЕСПЛАТНЫЕ ВРАЩЕНИЯ<br><br>
                                                3,4,5 = 1 x Ставка.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="de">
                                                3  FREE SPINS Symbole gewinnen FREISPIELE<br><br>
                                                3,4,5 = 1 x Einsatz.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="zhHans">
                                                集满三个免费旋转符号就会得到一次免费旋转的机会<br><br>
                                                3,4,5 = 1 x 下注.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="zhHant">
                                                三個免費滾動圖案可以獲得一次免費的滾動機會。<br><br>
                                                3,4,5 = 1 x 投注.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="fr">
                                                Les symboles 3xFREE SPINS offrent des TOUR GRATUITS                        <br><br>
                                                3,4,5 = 1 x Miser.<br><br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="sk">
                                                Tri symboly TOČ ZDARMA znamenajú výhru točení zdarma. <br><br>
                                                3,4,5 = 1 x stávka.<br><br>
                                        </h2>


                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="en">FREE SPINS &emsp;&emsp;&emsp;&emsp; MULTIPLIER &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="bg">БЕЗПЛАТНИ ЗАВЪРТАНИЯ &emsp;&emsp;&emsp;&emsp; МНОЖИТЕЛ &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="cs">ZATOČENÍ ZDARMA &emsp;&emsp;&emsp;&emsp; NÁSOBENÍ  &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="hu">INGYENES PÖRGETÉS &emsp;&emsp;&emsp;&emsp; nyereményszorzó  &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="es">GIROS GRATIS &emsp;&emsp;&emsp;&emsp; MULTIPLICADOR &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="pt">JOGADAS GRÁTIS &emsp;&emsp;&emsp;&emsp; MULTIPLICADOR &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="es-cl">GIROS GRATIS &emsp;&emsp;&emsp;&emsp; MULTIPLICADOR &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="th">FREE SPINS &emsp;&emsp;&emsp;&emsp; ตัวคูณ &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="ru">БЕСПЛАТНЫЕ ВРАЩЕНИЯ &emsp;&emsp;&emsp;&emsp; МУЛЬТИПЛИКАТОР &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="de">FREISPIELE &emsp;&emsp;&emsp;&emsp; MULTIPLIKATOR &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="zhHans">免费旋转 &emsp;&emsp;&emsp;&emsp; 复合倍率 &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="zhHant">免費滾動 &emsp;&emsp;&emsp;&emsp; 倍率的 &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="sk">TOČ ZDARMA &emsp;&emsp;&emsp;&emsp; multiplikátor &emsp;&emsp;&emsp;<br><br></h2>

                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="el">FREE SPINS &emsp;&emsp;&emsp;&emsp; MULTIPLIER &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="fi">ILMAISKIERROKSET &emsp;&emsp;&emsp;&emsp; KERROINYHDISTELMÄT &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="pl">DARMOWE SPINY  &emsp;&emsp;&emsp;&emsp; MNOŻNIKÓW &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="ro">ROTIRI GRATUITE &emsp;&emsp;&emsp;&emsp; MULTIPLICATORI &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="sv">GRATISSNURR &emsp;&emsp;&emsp;&emsp; MULTIPLIER &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="vi">QUAY MIỄN PHÍ &emsp;&emsp;&emsp;&emsp; nhân &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="it">GIRI GRATIS &emsp;&emsp;&emsp;&emsp; MULTIPLIER &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="tr">BEDAVA ÇEVİRİ &emsp;&emsp;&emsp;&emsp; ÇARPAN &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="no">GRATIS SPINN &emsp;&emsp;&emsp;&emsp; MULTIPLIKATOR &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="ja">フリースピン・ &emsp;&emsp;&emsp;&emsp; マルチプライヤ &emsp;&emsp;&emsp;<br><br></h2>
                                        <h2 class="h2_infoPage" style="list-style: none;" languageSensitive="fr">TOUR GRATUITS &emsp;&emsp;&emsp;&emsp; MULTIPLICATEUR &emsp;&emsp;&emsp;<br><br></h2>

                                        <h2 class="h2_infoPage" style="list-style: none;">
                                                <li style="text-align:center;">30 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; x3 &emsp;&emsp;&emsp;&emsp;</li>
                                                <li style="text-align:center;">25 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; x3 &emsp;&emsp;&emsp;&emsp;</li>
                                                <li style="text-align:center;">20 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; x2 &emsp;&emsp;&emsp;&emsp;</li>
                                                <li style="text-align:center;">15 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; x2 &emsp;&emsp;&emsp;&emsp;</li>
                                                <li style="text-align:center;">12 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; x2 &emsp;&emsp;&emsp;&emsp;</li>
                                                <li style="text-align:center;">10 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; x2 &emsp;&emsp;&emsp;&emsp;</li>

                                        </h2>


                                        <h2 class="h2_infoPage" languageSensitive="en">
                                                <br>FREE SPINS symbols award in any position on the reels. Golden Dragon scatter symbol wins are not affected by the MULTIPLIER. Additional FREE SPINS can be awarded during FREE SPINS.<br> The amount of FREE SPINS and the value of the MULTIPLIER awarded will be the same as the initial FREE SPINS.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="bg">
                                                <br>Символ БЕЗПЛАТНИ ЗАВЪРТАНИЯ се присъждат във всяка позиция на барабаните. Печалбите на символ GoldenDragon Скатер не се влияят от МНОЖИТЕЛЯ. Допълнителни БЕЗПЛАТНИ ЗАВЪРТАНИЯ могат да бъдат присъждани по време на БЕЗПЛАТНИ ЗАВЪРТАНИЯ.<br>Размерът на БЕЗПЛАТНИТЕ ЗАВЪРТАНИЯ и стойността на МНОЖИТЕЛЯ, които са спечелени, ще бъде същият като на първоначалните БЕЗПЛАТНИ ЗАВЪРТАНИЯ.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="cs">
                                                <br>Symboly ZATOČENÍ ZDARMA se zhodnocují na jakékoliv pozici na kotouči. Výhra přes symbol GoldenDragon scatter není ovlivněna  NÁSOBKY. Další ZATOČENÍ ZDARMA může být výhrou i při ZATOČENÍ ZDARMA.<br>Množství ZATOČENÍ ZDARMA a hodnota vyhraných NÁSOBKŮ bude stejná jako iniciální ZATOČENÍ ZDARMA.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="hu">
                                                <br>Az ingyenes pörgetések szimbólumai bármely oszlopban nyereményt eredményezhetnek. A “GoldenLion” scatter szimbólumok kipörgetésével elért nyereményeket a nyereményszorzók nem befolyásolják. További ingyenes pörgetések érhetőek el szabad játék során.<br>Az ezen idő alatt újonnan elért ingyenes pörgetések mennyisége, valamint a kipörgetett nyeremény-többszöröző szorzók értéke ugyanannyi lesz, mint a kezdeti ingyenes pörgetéseknél.<br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="es">
                                                <br>Los símbolos de GIROS GRATIS otorgan premios en cualquier posición de los rieles. GoldenDragon scatter symbol wins are not affected by the MULTIPLIER. Additional FREE SPINS can be awarded during FREE SPINS.<br> The amount of FREE SPINS and the value of the MULTIPLIER awarded will be the same as the initial FREE SPINS.<br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="pt">
                                                <br>O símbolo FREE SPINS, ou jogadas grátis, premiam em qualquer posição nas bobinas. Os ganhos do símbolo GoldenDragon Scatter não são afetados pelo MULTIPLICADOR.<br>Serão premiadas JOGADAS GRÁTIS adicionais durante as rondas grátis. A quantidade de JOGADAS GRÁTIS e o valor do MULTIPLICADOR premiado permanecem os mesmos das primeiras rondas grátis.<br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="es-cl">
                                                <br>El símbolo de GIROS GRATIS puede aparecer en cualquier posición en los carriles. Las victorias ganadas por el símbolo de GoldenDragon Scatter no son afectadas por el MULTIPLICADOR.<br>GIROS GRATIS adicionales pueden ser otorgados durante los GIROS GRATIS. La cantidad de GIROS GRATIS y el valor del MULTIPLICADOR recompensado será el mismo que el GIRO GRATIS inicial. <br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="th">
                                                <br>FREE SPINS symbols award in any position on the reels.<br> การชนะรางวัลด้วยสัญลักษณ์ GoldenDragon Scatter จะไม่ได้รับผลจาก ตัวคูณ <br> นอกจากนั้นคุณยังสามารถชนะรางวัล FREE SPINS ได้ในรอบหมุนฟรีได้อีกด้วย จำนวน FREE SPINS และมูลค่าของตัวคูณที่ได้รับจะยึดตาม FREE SPINS แรกที่ใช้<br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="ru">
                                                <br>Символ БЕСПЛАТНЫЕ ВРАЩЕНИЯ может выпасть в любом месте на барабанах. На выигрыши с GoldenDragon скаттера МУЛЬТИПЛИКАТОР не влияет. Во время функции БЕСПЛАТНЫЕ ВРАЩЕНИЯ можно выиграть дополнительные БЕСПЛАТНЫЕ ВРАЩЕНИЯ.<br> Количество БЕСПЛАТНЫХ ВРАЩЕНИЙ и количество МУЛЬТИПЛИКАТОРОВ будет тем же, что и количество БЕСПЛАТНЫХ ВРАЩЕНИЙ, предоставленных изначально. <br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="de">
                                                <br>FREISPIELE-Symbole gewinnen in jeder Position auf den Walzen. Golden Dragon-Scatter-Symbol-Gewinne sind vom MULTIPLIKATOR nicht betroffen. Zusätzliche FREISPIELE können während FREISPIELEN vergeben werden.<br>Die Anzahl der FREISPIELE und der Wert des vergebenen MULTIPLIKATORS entsprechen den anfänglichen FREISPIELEN.<br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="zhHans">
                                                <br>您可在卷轴上的任何位置获得免费旋转符号的奖励。杰克分散符号的奖励不受复合倍率的影响 <br>您可在使用免费旋转期间获得额外的免费旋转。<br> 获赠的免费旋转的数量和复合倍率的价值将与初始的免费旋转相同。<br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="zhHant">
                                                <br>免費滾動圖案可以在滾軸的任何位置給予獎勵。J寶箱獎勵不會受到免費滾動次數的影響。<br>免費滾動期間還可以贏得額外的免費滾動，次數與首次免費滾動次數相同。<br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="el">
                                                <br>Τα σύμβολα FREE SPINS επιβραβεύουν σε οποιαδήποτε θέση πέσουν στους τροχούς.
                                                Οι νίκες του συμβόλου GoldenDragon scatter δεν επηρεάζονται από το MULTIPLIER. Επιπλέον FREE SPINS μπορούν να επιβραβευθούν κατά τη διάρκεια των FREE SPINS. <br> Το ποσό των FREE SPINS και η αξία του MULTIPLIER που έχει επιβραβευτεί θα είναι ίδια με τα αρχικά FREE SPINS.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="fi">
                                                <br>Ilmaiskierrossymbolit palkitsevat myös missä tahansa kohdassa kelaa. GoldenDragon Scatter -symbolin tuomissa voitoissa kerroin ei vaikuta voiton määrään. Lisää ILMAISKIERROKSIA voidaan voittaa ILMAISKIERROSTEN aikana.<br>ILMAISKIERROSTEN määrä ja KERTOIMEN suuruus pysyy samana kuin ensimmäisessä ILMAISKIERROKSESSA.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="pl">
                                                <br>Nagroda z tego symbolu przyznawana jest niezależnie od tego, na której pozycji szpul  się on znajdzie. Wygrane uzyskane z symbolu GoldenDragon SCATTER nie są powiększane przez MNOŻNIK. Podczas DARMOWYCH SPINÓW możesz wygrywać kolejne.<br> Ich liczba oraz wartość mnożnika będzie taka sama, jak podczas pierwszego DARMOWYCH SPINÓW.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="ro">
                                                <br>Simbolurile ROTIRI GRATUITE te răsplătesc indiferent de poziția în care apar pe role. Câștigurile obținute cu ajutorul simbolului GoldenDragon Scatter nu sunt afectate de MULTIPLICATOR. ROTIRI GRATUITE adiționale pot fi oferite pe durata rundei de ROTIRI GRATUITE.<br> Numărul de ROTIRI GRATUITE și valoarea MULTIPLICATORULUI oferit rămân aceleași ca în runda inițială de ROTIRI GRATUITE.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="sv">
                                                <br>GRATISSNURR kan vinnas oavsett vart än symboler är på rullarna. Golden Dragon Scatter symbol som är vinst på är inte påverkad av MULTIPLIER (bonus funktion). Ytterligare GRATISSNURR kan bli tilldelade under GRATISSNURR.<br> Mängden utav GRATISSNURR och värdet av MULTIPLIER (bonus funktionen) är fortfarande belönad precis som innan av det ursprungliga GRATISSNURRET.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="vi">
                                                <br>Biểu tượng FREE SPINS trả thưởng khi xuất hiện ở mọi ví trí trên máy. Thắng bằng biểu tượng GoldenDragon scatter không áp dụng thêm biểu tượng nhân điểm. Khi đang chơi lượt quay miễn phí bạn vẫn có thể trúng thêm các lượt quay miễn phí khác.<br> Số lượt quay miễn phí và việc nhân điểm sẽ giữ nguyên so với lúc quay miễn phí lần đầu.<br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="it">
                                                <br>I simboli dei giri gratuiti vengono assegnati in qualsiasi posizione sui rulli. Le vincite del simbolo Golden Dragon scatter non sono influenzate dal MULTIPLIER. GIRI GRATUITI aggiuntivi possono essere assegnati durante GIRI GRATUITI.<br> La quantità di GIRI GRATUITI e il valore del MULTIPLIER assegnato saranno gli stessi dei GIRI GRATUITI iniziali.<br>
                                        </h2>

                                        <h2 class="h2_infoPage" languageSensitive="tr">
                                                <br>BEDAVA ÇEVİRİ sembolleri makaradaki herhangi bir pozisyondan ödül verir. GoldenDragon scatter sembolü kazançları çarpandan etkilenmez. BEDAVA ÇEVİRİ sırasında ek BEDAVA ÇEVİRİ kazanılabilir.<br> BEDAVA ÇEVİRİ miktarı ve ÇARPAN değeri bir önceki BEDAVA ÇEVİRİ ile aynıdır.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="no">
                                                <br>Gratis Spinn symbol gir gevinst i hvilken som helst posisjon på hjulet. GoldenDragon Scatter gevinster blir ikke påvirket av MULTIPLIKATOR. Ekstra GRATIS SPINN kan bli gitt under bruken av GRATIS SPINN.<br> Antallet GRATIS SPINN og verdien av MULTIPLIKATOR som blir gitt, vil være det samme som da du først fikk GRATIS SPINN.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="ja">
                                                <br>リールのどの位置でもフリースピン・シンボルを獲得できます. ジャック・スキャッターシンボルの勝ちは、マルチプライヤーの影響を受けません. フリースピン中に追加の無料スピンを獲得できます.<br> フリースピンの数と、付与されるマルチプライヤーの価値は、最初のフリースピンと同じになります.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="fr">
                                                <br>Les symboles FREE SPINS sont rétribués peu importe leur position sur les rouleaux. Les gains liés aux Golden Dragon scatters  ne sont pas affectés par le MULTIPLICATEUR. Il est possible de gagner des TOUR GRATUITS                         pendant les FREE SPINS.<br>Le nombre de TOUR GRATUITS                         et la valeur du MULTIPLICATEUR utilisé seront les mêmes que ceux du FREE SPIN initial.<br>
                                        </h2>
                                        <h2 class="h2_infoPage" languageSensitive="sk">
                                                <br>Symboly TOČ ZDARMA znamenajú výhru v akejkoľvek pozícií na ktoromkoľvek valci.  Symboly GoldenDragon Scatter nie sú ovplyvnené multiplikátorom. Počas Točenia zdarma je šanca vyhrať ďalšie točenia zdarma.<br> Výherná hodnota Točení zdarma a multiplikátoru bude rovnaká ako počiatočné Točenia zdarma.<br>
                                        </h2>
                                </div>
                                <br><br><br><hr><br>
                        </section><br><br>


                        <section class="content" id="wild">
                                <div class="sectionContent">
                                        <h1 class="h1_infoPage" languageSensitive="en">wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="bg">Диво (Wild)</h1>
                                        <h1 class="h1_infoPage" languageSensitive="cs">DIVOKÝ</h1>
                                        <h1 class="h1_infoPage" languageSensitive="hu">“Wild” szimbólum</h1>
                                        <h1 class="h1_infoPage" languageSensitive="es">Símbolo Salvaje</h1>
                                        <h1 class="h1_infoPage" languageSensitive="pt">O Wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="es-cl">Símbolo Comodín</h1>
                                        <h1 class="h1_infoPage" languageSensitive="th">สัญลักษณ์ Wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="ru">Вайлд</h1>
                                        <h1 class="h1_infoPage" languageSensitive="de">Wild-Symbol</h1>
                                        <h1 class="h1_infoPage" languageSensitive="zhHans">百搭符号（WILD)</h1>
                                        <h1 class="h1_infoPage" languageSensitive="zhHant">狂野圖案</h1>

                                        <h1 class="h1_infoPage" languageSensitive="el">wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="fi">wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="pl">wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="ro">wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="sv">wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="vi">wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="it">wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="tr">JOKER (Wild)</h1>
                                        <h1 class="h1_infoPage" languageSensitive="no">wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="ja">ワイルド (Wild)</h1>
                                        <h1 class="h1_infoPage" languageSensitive="fr">wild</h1>
                                        <h1 class="h1_infoPage" languageSensitive="sk">Divoký</h1>

                                        <div style="text-align:center;"><i class="sym_7"></i></div>


                                        <h2 class="h2_infoPage" languageSensitive="en">WILD symbols substitutes all other symbols except for GOLDEN DRAGON and FREE SPINS symbols.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="bg">ДИВО символите заместват всички останали символи с изключение на символите GOLDEN DRAGON и БЕЗПЛАТНИ ЗАВЪРТАНИЯ.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="cs">DIVOKÉ symboly nahrazují všechny ostatní symboly kromě symbolu GOLDEN DRAGON SCATTER a ZATOČENÍ ZDARMA.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="hu">A “Wild” szimbólumok helyettesíthetik az összes többi szimbólumot, kivéve a “GOLDEN DRAGON” és az “FREE SPINS” szimbólumokat.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="es">El Símbolo “Salvaje” sustituye a cualquiera de los otros símbolos a excepción del símbolo GOLDEN DRAGON o el de GIROS GRATIS.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="pt">O símbolo Wild substitui todos os outros símbolos excepto o GOLDEN DRAGON ou o FREE SPINS. </h2>
                                        <h2 class="h2_infoPage" languageSensitive="es-cl">Los símbolos comodín sustituyen cualquier otro símbolo excepto por el de GOLDEN DRAGON y el de GIROS GRATIS.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="th">สัญลักษณ์ Wild สามารถทดแทนสัญลักษณ์อื่นๆได้ทั้งหมดยกเว้นสัญลักษณ์ แจ็ค และ ฟรีสปิน</h2>
                                        <h2 class="h2_infoPage" languageSensitive="ru">ВАЙЛД заменяет любой другой символ, кроме GOLDEN DRAGON и символов БЕСПЛАТНЫЕ ВРАЩЕНИЯ.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="de">WILD-Symbole ersetzen alle anderen Symbole mit Ausnahme von GOLDEN DRAGON- und FREE SPINS-Symbolen.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="zhHans">百搭符号可以代替除杰克分散符号和免费旋转符号以外的所有其他符号。</h2>
                                        <h2 class="h2_infoPage" languageSensitive="zhHant">狂野圖案可以替代除了傑克和免費滾動圖案之外的任何圖案。</h2>

                                        <h2 class="h2_infoPage" languageSensitive="el">Τα σύμβολα WILD αντικαθιστούν όλα τα άλλα εκτός από τα σύμβολα GOLDEN DRAGON και FREE SPINS.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="fi">Wild-symboli korvaa minkä tahansa muun symbolin lukuunottamatta GOLDEN DRAGON- ja ILMAISKIERROSSYMBOLEITA.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="pl">Symbol ten może zastąpić każdy inny symbol oprócz symbolu GOLDEN DRAGON , oraz DARMOWEGO SPINU.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="ro">Simbolurile WILD substituie toate celelalte simboluri cu excepția simbolurilor GOLDEN DRAGON și ROTIRI GRATUITE.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="sv">WILD-  symboler ersätter alla andra symboler förutom GOLDEN DRAGON och GRATISSNURR symbolerna.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="vi">Biểu tượng WILD có thể thay thế tất cả các biểu tượng khác ngoại trừ biểu tượng GOLDEN DRAGON và FREE SPINS.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="it">Il simbolo WILD sostituisce tutti gli altri simboli tranne i simboli GOLDEN DRAGON e GIRI GRATIS.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="tr">JOKER sembolü herhangi bir sembolün yerine geçer. GOLDEN DRAGON ve BEDAVA ÇEVİRİ sembolleri buna istisnadır.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="no">WILD symbolet erstatter alle andre symboler, untatt GOLDEN DRAGON eller GRATIS SPINN symboler.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="ja">ワイルドシンボルは、ジャックシンボルとフリースピン・シンボルを除く他のすべてのシンボルの代わりになります.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="fr">Les symboles WILD remplacent tous les autres symboles, à l'exception des symboles GOLDEN DRAGON et FREE SPINS.</h2>
                                        <h2 class="h2_infoPage" languageSensitive="sk">Divoký symbol nahrádza akékoľvek iné symboly okrem symbolov GoldenDragon a TOČ ZDARMA.</h2>

                                        <div class="h3_infoPage">
                                                <ul class="prizes">
                                                        <li><span class="reward">5 = </span> <span class="coins">2500</span></li>
                                                        <li><span class="reward">4 = </span> <span class="coins">500</span></li>
                                                        <li><span class="reward">3 = </span> <span class="coins">125</span></li>
                                                </ul>
                                        </div>
                                </div>
                                <br><br><br><hr><br>
                        </section><br><br>

               <!-- <section class="content" id="scatter">
                <div class="sectionContent">
                        <h1 class="h1_infoPage" languageSensitive="en">scatter</h1>
                        <h1 class="h1_infoPage" languageSensitive="de">Scatter (Streuspiele)</h1>
                        <h1 class="h1_infoPage" languageSensitive="fr">Symboles de Dispersion</h1>
                        <h1 class="h1_infoPage" languageSensitive="it">Scatter</h1>
                        <div style="text-align:center;">
                                <i class="sym_bell"></i>
                </div>
                <div style="font-family: Tahoma,Verdana,sans-serif">
                        <ul class="prizes"style="text-align:center;" languageSensitive="en">
                                <li><span class="reward">5 = </span> <span class="coins">x5 multiplier</span></li>
                                <li><span class="reward">4 = </span> <span class="coins">x4 multiplier</span></li>
                                <li><span class="reward">3 = </span> <span class="coins">x3 multiplier</span></li>
                        </ul>

                        <ul class="prizes"style="text-align:center;" languageSensitive="de">
                                <li><span class="reward">5 = </span> <span class="coins">x5 Multiplikator</span></li>
                                <li><span class="reward">4 = </span> <span class="coins">x4 Multiplikator</span></li>
                                <li><span class="reward">3 = </span> <span class="coins">x3 Multiplikator</span></li>
                        </ul>

                        <ul class="prizes"style="text-align:center;" languageSensitive="fr">
                                <li><span class="reward">5 = </span> <span class="coins">x5 multiplicateur</span></li>
                                <li><span class="reward">4 = </span> <span class="coins">x4 multiplicateur</span></li>
                                <li><span class="reward">3 = </span> <span class="coins">x3 multiplicateur</span></li>
                        </ul>

                        <ul class="prizes"style="text-align:center;" languageSensitive="it">
                                <li><span class="reward">5 = </span> <span class="coins">x5 moltiplicatore</span></li>
                                <li><span class="reward">4 = </span> <span class="coins">x4 moltiplicatore</span></li>
                                <li><span class="reward">3 = </span> <span class="coins">x3 moltiplicatore</span></li>
                        </ul>


                        <h2 class="h2_infoPage" style="text-align:center;" languageSensitive="en"><br>3 or more scatter symbols initiates 15 FREE SPINS.</h2>
                        <h2 class="h2_infoPage" style="text-align:center;" languageSensitive="de"><br>3 oder mehr Scatter-Symbole lösen 15 FREISPIELE aus.</h2>
                        <h2 class="h2_infoPage" style="text-align:center;" languageSensitive="fr"><br>3 symboles de dispersion et plus vous octroient 15 TOUR GRATUITS                        .</h2>
                        <h2 class="h2_infoPage" style="text-align:center;" languageSensitive="it"><br>3 o più simboli scatter attivano 15 SPIN gratuiti.</h2>
                </div>
                </section><br><br><br>-->


        <section class="content" id="paylines">
                   <div class="sectionContent">

                   <h1 class="h1_infoPage" languageSensitive="en">paylines</h1>
                   <h1 class="h1_infoPage" languageSensitive="bg">Платежни линии</h1>
                   <h1 class="h1_infoPage" languageSensitive="cs">Výherní řady</h1>
                   <h1 class="h1_infoPage" languageSensitive="hu">Nyerővonalak</h1>
                   <h1 class="h1_infoPage" languageSensitive="es">Líneas de Pago</h1>
                   <h1 class="h1_infoPage" languageSensitive="pt">Linhas de pagamento</h1>
                   <h1 class="h1_infoPage" languageSensitive="es-cl">Líneas de pago</h1>
                   <h1 class="h1_infoPage" languageSensitive="th">เพย์ไลน์</h1>
                   <h1 class="h1_infoPage" languageSensitive="ru">Линии выплат</h1>
                   <h1 class="h1_infoPage" languageSensitive="de">Gewinnlinien</h1>
                   <h1 class="h1_infoPage" languageSensitive="zhHans">支付线</h1>
                   <h1 class="h1_infoPage" languageSensitive="zhHant">支付線</h1>

                   <h1 class="h1_infoPage" languageSensitive="el">Γραμμές πληρωμής</h1>
                   <h1 class="h1_infoPage" languageSensitive="fi">Pelilinjat</h1>
                   <h1 class="h1_infoPage" languageSensitive="pl">Linie wypłat</h1>
                   <h1 class="h1_infoPage" languageSensitive="ro">Linii de plată</h1>
                   <h1 class="h1_infoPage" languageSensitive="sv">Vinstlinjer</h1>
                   <h1 class="h1_infoPage" languageSensitive="vi">Dòng trả thưởng</h1>
                   <h1 class="h1_infoPage" languageSensitive="it">Linee di pagamento</h1>
                   <h1 class="h1_infoPage" languageSensitive="tr">Kazanç çizgisi</h1>
                   <h1 class="h1_infoPage" languageSensitive="no">Gevinst linjer</h1>
                   <h1 class="h1_infoPage" languageSensitive="ja">ペイライン</h1>
                   <h1 class="h1_infoPage" languageSensitive="fr">Lignes de paiement</h1>
                   <h1 class="h1_infoPage" languageSensitive="sk">Výplatné línie</h1>
                   <%- require('./paylines.ejs')() %>

                <h2 class="h3_infoPage" languageSensitive="en">Only the highest winning combination is paid per highlighted payline.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="bg">Изплаща се само най-високата печеливша комбинация на маркирана линия на плащане.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="cs">Pouze ta nejvyšší výherní kombinace je však proplacena dle zvýrazněné Výherní Řady.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="hu">A kiemelt nyerővonalakon csak a legmagasabb összegű kombináció fizet.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="es">Sólo la más alta combinación es pagada en las líneas de pago realizadas.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="pt">Apenas é premiada a combinação com o valor mais alto por cada linha de pagamento.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="es-cl">Sólo la combinación de victoria más alta es pagada según la línea de pago destacada.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="th">หากชนะรางวัลบนเพย์ไลน์มากกว่า 1 แถว รางวัลทั้งหมดจะถูกรวมเข้าด้วยกัน รางวัลที่ได้รับจะเป็นการนำรางวัลสูงสุดของแต่ละเพย์ไลน์ที่มีการแสดงไฮไลท์มารวมเข้าด้วยกันเท่านั้น<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="ru">На выделенной линии выплачивается только самая прибыльная комбинация.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="de">Pro hervorgehobener Gewinnlinie wird nur die höchste Gewinnkombination gezahlt.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="zhHans">只有金额最高的获胜组合才会按突出显示的支付线计算奖金。<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="zhHant">每條突出顯示的支付線只會支付最高的獲勝組合。<br><br></h2>


                <h2 class="h3_infoPage" languageSensitive="el">Μόνο ο υψηλότερος νικηφόρος συνδυασμός καταβάλλεται ανά επισημασμένη γραμμή πληρωμής.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="fi">Vain korkein voittoyhdistelmä maksetaan per korostettu pelilinja.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="pl">Jedynie najwyższa wygrywająca kombinacja może być wypłacona za zaznaczoną daną linii wypłat.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="ro">Doar cea mai valoroasă combinație câștigătoare este plătită pe linia de plată evidențiată.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="sv">Endas den högsta vinst kombinationen kommer att betalas per vinstrad.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="vi">Tuy nhiên mỗi dòng được chọn sẽ chỉ được tính phần tiền thắng lớn nhất nếu như có nhiều hơn một kiểu thắng xuất hiện trong dòng đó.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="it">Viene pagata solo la combinazione più alta per la linea di pagamento evidenziata.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="tr">Seçilmiş her kazanç çizgisi için sadece en yüksek miktardaki kazanç kombinasyonu ödenir.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="no">Kun de høyeste gevinst kombinasjonene gir utbetaling per fremhevede linje.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="ja">ハイライトされたペイラインごとに、最も勝利した組み合わせのみが支払われます.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="fr">Seule la combinaison gagnante la plus élevée de chaque ligne de paiement illuminée est payée.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="sk">Na každej výhernej línií sa vypláca iba najvyššia hodnota v danej línií.<br><br></h2>

                <h2 class="h3_infoPage" languageSensitive="en">Malfunction voids all pays and plays.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="bg">При неизправност се отменят всички плащания и игри.<br><br><br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="cs">Závada ruší všechny platby a hry.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="hu">A játék hibás működése esetén minden fizetés és pörgetés érvénytelen.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="es">Un mal funcionamiento nulifica todos los premios y todas las jugadas.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="pt">O mau funcionamento anula quaisquer pagamentos e jogadas. <br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="es-cl">El mal funcionamiento anula todos los pagos y jugadas.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="th">การทำงานที่ผิดพลาดจะทำให้การจ่ายเงินและการเล่นเป็นโมฆะ<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="ru">Сбой аннулирует все игры и выплаты.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="de">Eine Fehlfunktion macht alle Zahlungen und Spiele ungültig.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="zhHans">故障会使所有支付和游戏无效。<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="zhHant">故障會導致所有支付和遊戲無效。<br><br></h2>

                <h2 class="h3_infoPage" languageSensitive="el">Η δυσλειτουργία ακυρώνει όλα τα παιχνίδια και τις πληρωμές.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="fi">Toimintahäiriöissä pelit ja maksut mitätöidään.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="pl">Błędy w działaniu unieważnią wszystkie gry oraz wypłaty.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="ro">În caz de erori, toate plățile și rotirile se anulează.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="sv">Om ett fel inträffar kommer vinster och spel att ogiltigförklaras.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="vi">Lỗi trả thươngr.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="it">Il malfunzionamento annulla tutti i pagamenti e le giocate.<br><br><br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="tr">Hatalı çalışma durumlarında tüm ödemeler ve oyunlar geçersizdir.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="no">Ved feil annulleres alle betalinger og spill.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="ja">機能不全は、すべての支払いと再生を無効にします.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="fr">Le moindre dysfonctionnement annule paiements et parties.<br><br></h2>
                <h2 class="h3_infoPage" languageSensitive="sk">Pri poruche automatu sa všetky výhry nulujú a sú neplatné.<br><br></h2>

                </div>
        </section>
                </div>
                <div class="closeButton" id="infoPageBackButton">
                        <button class="btn btn--infoPageBackButton"></button>
                    </div>
                </div>
         </div>
 </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
        document.addEventListener('html-event-show-infoPage', function(e) {
                $('#infoPage').show();
                $('#infoPagePopup').show();
                $('#infoPagePopup-inner').show();
                $('#infoPagePopup').addClass('active');
                $('#infoPagePopup-inner').addClass('active');
        });

        document.addEventListener('html-event-close-infoPage', function(e) {
                //console.log("$('#infoPage').on('closePopup', () => {")
                $('#infoPagePopup').hide(5);
                $('#infoPagePopup-inner').hide(5);
                $('.popup, .popup-inner').removeClass('active');
        });

        document.getElementById('infoPageBackButton').addEventListener('click', function(e) {
                let event = new Event('html-event-close-infoPage');
                document.dispatchEvent(event);
        });

        /* https://clientframework-studios.atlassian.net/browse/FLSP-188
        Pinch zooming and dragging on iphone*/
        let doubleTouchStartTimestamp = 0;
        document.addEventListener("touchstart", function(evt){
                evt.stopPropagation();
        let now = +(new Date());
        if (doubleTouchStartTimestamp + 500 > now){
                event.preventDefault();
        };
        doubleTouchStartTimestamp = now;
        if(evt.touches.length > 1){
                evt.preventDefault();
        }
        },{passive: false});

        let resiz = function() {
                const _GAME_WIDTH_DEFAULT = 1920;
                const _GAME_HEIGHT_DEFAULT = 1080;
                let scaleX = 0;
                let scaleY = 0;
                let isPort = (document.documentElement.clientHeight > document.documentElement.clientWidth)
                // temporary fix for pixelisation issue. old system only left on iphone
                if (navigator.userAgent.indexOf("iPhone") != -1) {
                        // if (isPort) {
                        // scaleX = Math.min((document.documentElement.clientHeight) / _GAME_WIDTH_DEFAULT, (document.documentElement.clientWidth) / _GAME_HEIGHT_DEFAULT)
                        // scaleY = Math.min((document.documentElement.clientHeight) / _GAME_WIDTH_DEFAULT, (document.documentElement.clientWidth) / _GAME_HEIGHT_DEFAULT)
                        // }
                        // else
                        {
                        scaleX = Math.min((document.documentElement.clientHeight) / _GAME_HEIGHT_DEFAULT, (document.documentElement.clientWidth) / _GAME_WIDTH_DEFAULT)
                        scaleY = Math.min((document.documentElement.clientHeight) / _GAME_HEIGHT_DEFAULT, (document.documentElement.clientWidth) / _GAME_WIDTH_DEFAULT)
                        }
                        if (isPort) {
                                scaleX *= 1.3;
                                scaleY *= 1.2;
                        }
                }
                else {
                        if (isPort) {
                                scaleX = Math.min((document.documentElement.clientHeight) / _GAME_WIDTH_DEFAULT, (document.documentElement.clientWidth) / _GAME_HEIGHT_DEFAULT)
                                scaleY = Math.min((document.documentElement.clientHeight) / _GAME_WIDTH_DEFAULT, (document.documentElement.clientWidth) / _GAME_HEIGHT_DEFAULT)
                        }
                        else {
                                scaleX = Math.min((document.documentElement.clientHeight) / _GAME_HEIGHT_DEFAULT, (document.documentElement.clientWidth) / _GAME_WIDTH_DEFAULT)
                                scaleY = Math.min((document.documentElement.clientHeight) / _GAME_HEIGHT_DEFAULT, (document.documentElement.clientWidth) / _GAME_WIDTH_DEFAULT)
                        }
                        if (isPort) {
                                scaleX *= 0.7;
                                scaleY *= 0.7;
                        }
                }
                let  infoPageHTML = document.getElementById("infoPage")
                infoPageHTML.style.transform = infoPageHTML.style.webkitTransform = `translate(-50%, -${navigator.userAgent.indexOf("iPhone") != 1?52:50}%) scale(${scaleX}, ${scaleY})`;

                let  rulesPageHTML = document.getElementById("rulesPage")
                if (navigator.userAgent.indexOf("Mobile") == -1) {
                        rulesPageHTML.style.transform = rulesPageHTML.style.webkitTransform = `translate(-50%, -${navigator.userAgent.indexOf("iPhone") != 1?52:50}%) scale(${0.9 * scaleX}, ${0.9 * scaleY})`;
                }
                else {
                        rulesPageHTML.style.transform = rulesPageHTML.style.webkitTransform = `translate(-50%, -${navigator.userAgent.indexOf("iPhone") != 1?52:50}%) scale(${scaleX}, ${scaleY})`;
                }
        }

        let gup = function(name) {
                const url = window.location.href;
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var results = regex.exec( url );
                return results == null ? null : results[1];
        }

        let trimLanguages = function() {
                let z, i, elmnt;

                let supportedlanguages = ["en", "de", "fr", "it", "sv","bg","cs","da","el","hu","ja","es","es-cl","fi","no","pl","pt","ro","ru","sk","th","zhHant","zhHans","vi","tr"];

                let parameter = gup("language");
                let lang = (parameter && supportedlanguages.indexOf(parameter) != -1) ? parameter : "en";
                //console.log("laaang 1", lang)

                z = document.getElementsByTagName("*");
                for (i = 0; i < z.length; i++) {
                        elmnt = z[i];
                        if (elmnt.hasAttribute("languageSensitive") && elmnt.getAttribute("languageSensitive") != lang) {
                                elmnt.parentNode.removeChild(elmnt);
                                //console.log("laaang 2", elmnt)
                                trimLanguages();
                                return;
                        }
                }
        }

        window.onload = function() {
                trimLanguages();
                resiz();
        }

        window.onresize = resiz;

        </script>
   </body>
  </html>
