<ul class="paylines">
    <li>
        <!-- payline 1 -->
        <ul class="dots">
            <h2 class="dotNumbers">1</h2>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
            </li>
        </ul>
    </li>
    <li>
        <!-- payline 2 -->
        <ul class="dots">
            <h2 class="dotNumbers">2</h2>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 3 -->
        <ul class="dots">
            <h2 class="dotNumbers">3</h2>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 4 -->
        <ul class="dots">
            <h2 class="dotNumbers">4</h2>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>

    </li>
    <li>
        <!-- payline 5 -->
        <ul class="dots">
            <h2 class="dotNumbers">5</h2>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 6 -->
        <ul class="dots">
            <h2 class="dotNumbers">6</h2>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 7 -->
        <ul class="dots">
            <h2 class="dotNumbers">7</h2>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 8 -->
        <ul class="dots">
            <h2 class="dotNumbers">8</h2>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>


            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 9 -->
        <ul class="dots">
            <h2 class="dotNumbers">9</h2>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>


            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 10 -->
        <ul class="dots">
            <h2 class="dotNumbers">10</h2>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 11 -->
        <ul class="dots">
            <h2 class="dotNumbers">11</h2>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>

    <li>
        <!-- payline 12 -->
        <ul class="dots">
            <h2 class="dotNumbers">12</h2>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 13 -->
        <ul class="dots">
            <h2 class="dotNumbers">13</h2>
            <li>

                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
        </ul>
    </li>

    <li>
         <!-- payline 14 -->
        <ul class="dots">
            <h2 class="dotNumbers">14</h2>
            <li>

                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>
    <li>
         <!-- payline 15 -->
        <ul class="dots">
            <h2 class="dotNumbers">15</h2>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>
    <li>
         <!-- payline 16 -->
        <ul class="dots">
            <h2 class="dotNumbers">16</h2>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>
    <li>
         <!-- payline 17 -->
        <ul class="dots">
            <h2 class="dotNumbers">17</h2>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 18 -->
        <ul class="dots">
            <h2 class="dotNumbers">18</h2>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 19 -->
        <ul class="dots">
            <h2 class="dotNumbers">19</h2>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>


            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>
    <li>
        <!-- payline 20 -->
        <ul class="dots">
            <h2 class="dotNumbers">20</h2>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>


            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
            <li>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_full"></div>

            </li>
            <li>
                <div class="paytable_dot_full"></div>
                <div class="paytable_dot_empty"></div>
                <div class="paytable_dot_empty"></div>

            </li>
        </ul>
    </li>
</ul>
